.button {
  display: block;
  padding: 10px 24px;
  color: var(--color-primary-light);
  font-weight: 600;
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    color: var(--color-brand-dark);
    background-color: var(--color-primary-light);
  }

  @media screen and (min-width: $bp-tablet) {
    padding: 16px 32px;
  }
}
