.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  &__button {
    width: 12px;
    height: 12px;
    padding: 0;
    background-color: var(--color-secondary-dark);
    border-radius: 50%;

    &--active {
      background-color: var(--color-brand-normal);
    }
  }
}
