.footer {
  padding: 32px 0;
  position: relative;
  background-color: var(--color-primary-dark);
  background-image: url('../images/footer-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::before,
  &::after {
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    content: '';
  }

  &::before {
    width: 180px;
    height: 120px;
    left: 0;
    background-image: url('../images/decor-bread-small.png');
  }

  &::after {
    width: 380px;
    height: 190px;
    right: 0;
    background-image: url('../images/decor-bread-large.png');
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  &__nav,
  &__address {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-basis: 50%;
      text-align: left;
    }
  }

  &__logo,
  &__menu {
    flex-grow: 1;
  }

  &__address-list,
  &__address-info {
    flex-grow: 1;
  }

  &__address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
  }

  &__address-link:hover {
    color: var(--color-brand-normal);
  }

  &__address-icon {
    fill: var(--color-primary-light);
  }

  &__address-icon:hover {
    fill: var(--color-brand-normal);
  }

  &__address-copyright {
    font-size: 14px;
  }
}
