.form-terms {
  margin: 0 auto;
  max-width: 220px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;

  &__link {
    color: var(--color-primary-dark);
    text-underline-offset: 2px;
  }
}
